<footer>
    <hr>
    <div class="wrapper">
        <ul id="navigation">
            <li><%= link_to "Sign In", root_path %></li>
            <li><%= link_to "Plans & Pricing", root_path %></li>
            <li><%= link_to "SUPPORT", root_path %></li>
            <li><%= link_to "TERMS OF SERVICE", root_path %></li>
            <li><%= link_to "PRIVACY", root_path %></li>
            <li><%= link_to "CONTACT", root_path %></li>
            <li><%= link_to "TWITTER", root_path %></li>
            <li><%= link_to "HELP", root_path %></li>     
        </ul>
          
        <p>The name and logo of Radish are registered trademarks of thoughtbot, inc.<br/> 
        All text and design is copyright 2011 thoughtbot, inc. All rights reserved.</p>
    </div>

    <div id="thoughtbot-logo"> 
        <%= image_tag("thoughtbot-logo.png", :class => '') %>
    </div>   
</footer>